<div ng-controller="ActivityController" ng-init="getActivities()">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-11">
            <div ng-show="activities != null">
                <div class="page-header">
                    <h1 id="tables">Things you have been doing...</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>planned?</th>
                            <!--<th>started</th>
                            <th>completed</th>-->
                            <!--<th>participated with</th>-->
                            <th>feeling</th>
                            <th>location</th>
                            <th>productive?</th>
                            <th>notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activity in activities">
                            <td>{{$index + 1}}</td>
                            <td class="text-left">{{activity.name}}</td>
                            <td>
                                <i ng-if="activity.plannedActivity" class="fa fa-check fa-lg" style="color: green"></i>
                                <i ng-if="!activity.plannedActivity" class="fa fa-times fa-lg"></i>
                            </td>
                            <!--<td>{{activity.startTimestamp}}</td>
                            <td>{{activity.endTimestamp}}</td>-->
                            <!--<td>{{activity.activityParticipant}}</td>-->
                            <td>
                                <i ng-if="activity.activityFeeling.name=='positive'" class="fa fa-smile-o fa-lg"
                                   style="color: green"></i>
                                <i ng-if="activity.activityFeeling.name!='positive'" class="fa fa-frown-o fa-lg"></i>
                            </td>
                            <td>
                                <i ng-if="activity.activityLocation.locationName=='Home'" class="fa fa-home fa-lg"></i>
                                <i ng-if="activity.activityLocation.locationName=='Office'"
                                   class="fa fa-building-o fa-lg"></i>
                                <i ng-if="activity.activityLocation.locationName=='Other'"
                                   class="fa fa-cloud fa-lg"></i>
                            </td>
                            <td>
                                <i ng-if="!activity.consuming" class="fa fa-check fa-lg" style="color: green"></i>
                                <i ng-if="activity.consuming" class="fa fa-times fa-lg"></i>
                            </td>
                            <td>{{activity.notes}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


      {{responseHeaders}}-->
</div>